*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    align-items: center;
    
}
ul{
    background-color: rgb(242, 238, 238);
    
    border-radius: 10%;
    
}
ul li a{
    text-decoration: none;
    color: black;
   
    position: relative;
}

ul li a::before{
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    left: 6px;
    bottom: 3px;;
    border: 3px solid rgba(2211,12,111,1);
    border-width: 0 0 2px 2px;
    transition: all 0.3s;
    opacity: 0;
}
ul li a::after{
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 3px;
    right: 6px;
    border: 3px solid rgba(2211,12,111,1);
    border-width: 2px 2px 0 0;
    transition: all 0.3s;
opacity: 0;
}


ul li a:hover::before{
    
    left: -6px;
    bottom: -6px;
    opacity: 1;
}

ul li a:hover::after{
    top: -6px;
    right: -6px;
    opacity: 1;
}
ul li a:hover{
    background-color: rgba(2211,12,111,1);
    color:white;
}