.box{
    height : 90vh;
    width : 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;    
    color: aliceblue;
}

body{
    background-color: black;
}

.clk{
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}


.btn{
    height: 5em;
    width: 5em;
    border-radius: 50%;
    border: 1px solid white;
    color: black;
    outline: none;
    background: #111;
    cursor: pointer;
    position: relative;
    right : 30px;
    z-index: 1;
    border: 1px solid radius;
    transition: transform .6s ease;
}


.btn:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 50%;
}

.btn:active {
    color: black;
}

.btn:active:after {
    background: transparent;
    color: #000;

}

.btn:hover {
    height : 5rem;
    width : 10rem;
    border-radius: 10px;
    transform: translateX(30px);
    color: aliceblue;
    font-size: larger;
    font-weight: bolder;

}
.btn:hover:before {
    border-radius: 10px;
}
.btn:hover:after {
    border-radius: 10px;
}

.btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 50%;
    color: #000;
}

