/*style page*/
.pos{
float:right;
width:50%;
padding:25% 0;
}
.styled {
    border-width: 4px;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    vertical-align:middle;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 50px;
    background-color: rgb(76, 13, 158);
}