@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins ;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #232323;
    flex-direction: column;
    gap: 40px;
}

a{
    position: relative;
    background: #344;
    color:rgba(255, 255, 255, 0.5);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}

a:hover{
    background: var(--clr);
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.25em;
}

a::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}

a span{
    position: relative;
    z-index: 1;
}

a i{
    position: absolute;
    inset: 0;
    display: block;
}

a i::before{
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    transform: translateX(-50%);
    width: 10px;
    height: 6px;
    background: #27282c;
    border: 2px solid var(--clr);
    transition: 0.5s, box-shadow 0.5s;
    transition-delay: 0.5s,0s;
}

a:hover i::before{
    width: 6px;
    left: calc(50% - 3px);
    box-shadow: 70px 0 #fff, -70px 0 var(--clr), -70px 0 0 4px #27282c, 10px -10px var(--clr), -10px -10px #fff;
    transition-delay: 0s,0.5s;
}

a i::after{
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    transform: translateX(-50%);
    width: 10px;
    height: 6px;
    background: #27282c;
    border: 2px solid var(--clr);
    transition: 0.5s, box-shadow 0.5s;
    transition-delay: 0.5s,0s;
}

a:hover i::after{
    width: 6px;
    left: calc(50% - 3px);
    box-shadow: -70px 0 #fff, 70px 0 var(--clr), 70px 0 0 4px #27282c, -10px 10px var(--clr), 10px 10px #fff;
    transition-delay: 0s,0.5s;
}