@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,600;1,600&display=swap');

*{
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 4px;
    background-color: #25252A;
}

.container
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.btn1
{
    width: 300px;
    height: 100px;
    border: none;
    color: white;
    background-color: #3CAEA3;
    /* rgb(255,0,68) */
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f9e589;
    transition: ease-out 0.3s;
    font-size: 2rcm;
    outline: none;
}
.btn1:hover
{
    box-shadow: inset 300px 0 0 0 #f9e589;
}