body{
    margin: 0;
    padding: 0;
    background-color: #000;
}

.container{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.button{
    position: relative;
    text-align: center;
    width: 200px;
    padding: 40px;
    font-size: 35px;
    color: #15f4ee;
    font-family: poppins;
    font-weight: 400;
    border: 5px solid  #15f4ee;
    text-transform: uppercase;
    letter-spacing: 15px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
}

.button:hover{
    box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee,
                0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee ;
    text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
}