/* this is css */
body{
    
    align-self: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: black;

}
.mybutton{
    display: block;
    margin: auto;
    margin-top: 50%;
    margin-bottom: 50%;
    padding: 10px;
    height:auto;
    width: auto;
    background-color: transparent;
    border-left: none;
    border-right:none;
    border-color: white;
    color: white;
    font-size: 3vh ;
    letter-spacing: 1px;
    transition-duration: 0.5s;
}
.mybutton:hover{
    /* these are the properties when button is hovering*/
    border-color: transparent;
    /*Change the colour inside the box according to your convinience*/
    box-shadow: inset 100vh 0 0 0 yellow;
    color: black;
}