* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
}

button {

    border: white;
    border: 2px solid rgb(248, 20, 241);
    padding: 10px 50px 10px 50px;
    font-size: 40px;
    background-color: black;
    border-radius: 5rem;
    color: white;
}

button:hover {
    box-shadow: 0 0 10px 5px #48abe0,
        0 0 20px 7px #ebecca,
        0 0 25px 20px #8a2be2,
        0 0 20px 20px #ff1493;

    cursor: pointer;
    color: burlywood;
    background-color: rgb(17, 17, 17);
    transform: translateY(6px);
    border: 3px solid rgb(228, 232, 163);
}