@import "nib";

* {
  transition: all .15s;
  outline: none;
  overflow: hidden;
}

button {
  font-size: 19px;
  font-family: 'Pacifico';
  overflow: visible;
  border-radius: 3px;
  position: relative;
  padding-right: 30px;
  background-color: #ECFBFF;
  border: 2px solid #A6E0EE;
  color: #2D7586;
  display: flex;
  justify-content: center;
  align-items: center; /* Added to center the text vertically */
  margin: 13% auto;
  height: 60px;
  width: 200px;
  cursor: pointer;
}

button:hover {
  background-color: #DDF7FF;
}

button svg {
  position: absolute;
  top: 13px;
  right: 25px;
  height: 30px;
  width: auto;
  transition: transform .15s;
}

button svg path {
  fill: #2D7586;
}

button:hover svg {
  transform: rotate(10deg);
  transition: transform .15s;
}

button.clicked {
  background-color: #cff5b3;
  border: 2px solid #cff5b3;
  color: #6AAA3B;
  padding-right: 6px;
  animation: bounce-in .3s;
  cursor: default;
}

button.clicked svg {
  animation: flyaway 1.3s linear;
  top: -80px;
  right: -1000px;
}

button.clicked svg path {
  fill: #6AAA3B;
}

@keyframes flyaway {
  0% {
    transform: rotate(10deg);
    top: 13px;
    right: 25px;
    height: 30px;
  }
  5% {
    transform: rotate(10deg);
    top: 13px;
    right: 0px;
    height: 30px;
  }
  20% {
    transform: rotate(-20deg);
    top: 13px;
    right: -130px;
    height: 45px;
  }
  40% {
    transform: rotate(10deg);
    top: -40px;
    right: -280px;
    opacity: 1;
  }
  100% {
    transform: rotate(60deg);
    top: -200px;
    right: -1000px;
    height: 0;
    opacity: 0;
  }
}

@keyframes bounce-in {
  0% {
    padding-right: 30px;
  }
  40% {
    padding-right: 6px;
  }
  50% {
    padding-left: 30px;
  }
  100% {
    padding-left: 6px;
  }
}
