@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* General styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #1a1d24;
	height: 100vh;
	display: grid;
	place-items: center;
}
a {
	text-decoration: none;
}
/* General styles end */
.wrapper {
	position: relative;
}
.wrapper :is(.btn, .link) {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background-color: #fff;
	color: #151515;
	border-radius: 50%;
}
.btn {
	position: absolute;
	border: none;
	cursor: pointer;
	z-index: 10;
}
.active .btn,
.btn:hover {
	outline: 3px solid #0561ee;
	outline-offset: -4px;
}
.item {
	position: absolute;
	list-style: none;
	transition: transform 0.5s;
	transition-delay: var(--d);
}
.wrapper.active .item:nth-child(1) {
	transform: translateX(-65px);
}
.wrapper.active .item:nth-child(2) {
	transform: translateY(-65px);
}
.wrapper.active .item:nth-child(3) {
	transform: translateX(65px);
}
.link:hover {
	color: #fff;
	transition: background-color 0.5s;
}
.ig:hover {
	background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}
.tw:hover {
	background-color: #1da1f2;
}
.sc:hover {
	background-color: #fffc00;
	color: inherit;
}