.btn-box{
    display: flex;
    justify-content: center;
    margin-top: 20vw;
}
.btn{
    height: 12vh;
    width: 13vw;
    background-color: aqua;
    border: 1px solid rgb(252, 253, 253);
    color: white;
    border-radius: 5%;
}
.text{
    font-size: 25px;
    font-weight: 600;
    /* color: rgb(26, 31, 31); */
}
.btn:hover{
   border: 6px solid aqua;
   background-color: white;
   color: aqua;
}
