@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding:0;
  margin: 0;
  font-family: "Poppins",sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
}

.custom-shape-divider-bottom-1681450176 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1681450176 svg {
  position: relative;
  display: block;
  width: calc(220% + 1.3px);
  height: 154px;
}

.custom-shape-divider-bottom-1681450176 .shape-fill {
  fill: #FFFFFF;
}