@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: #000;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn{
    width: 230px;
    height: 70px;
    font-size: 1.3em;
    background: #383838;
    border: none;
    outline: none;
    color: #fff;
    border: 2px solid #696969;
    border-radius: 50px;
    cursor: pointer;font-family: 'Sriracha',cursive;
    transition: all .4s;
}
.btn:hover{
    box-shadow: inset 0 0 0 5px #252525,inset 0 0 0 10px #6930c3,inset 0 0 0 15px #64dfdf;
}