*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #9ad751, #2196f3);
}

.menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
}

.menu .share{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    color: #333;
    cursor: pointer;
    font-size: 2em;
    transition: 1.2s;
}

.menu.active .share{
    transform: rotate(360deg);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px #333, 0 0 0 8px #fff;
}

.menu li{
    position: absolute;
    left: 0;
    list-style: none;
    transition: 0.5s;
    transform: rotate(calc(360deg/8 * var(--i)));
    transform-origin: 140px;
    scale:0;
}

.menu.active li{
    scale: 1;
}

.menu li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(calc(360deg/-8 * var(--i)));
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    font-size: 1.78em;
    color: var(--clr);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.menu li:hover a{
    font-size: 2.5em;
    box-shadow: 0 0 0 2px var(--clr), 0 0 0 6px #fff;
}