* {
  padding: 0;
  margin: 0;
  }
  body {
    text-align: center;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 119, 181);
    height: 100vh;
  }
  .btn-1 {
      color: #000 ;
      background-color: #fff;
      text-align: center;
      display: inline-block;
      padding: 15px 40px;
      border: 2px solid #000;
      border-radius: 10px;
      cursor: pointer;
      letter-spacing: 2px;
      position: relative;
      overflow: hidden;
      margin: 0 20px;
  }
  
  
  .btn-1:before {
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    background: #000;
    left: -55px;
    top: -40px;
    transform: rotate(37deg);
    transition: all 0.3s;
    opacity: 0.3;
  }
  
  .btn-1:hover:before {
    left: 95%;
  }
  