.leaderboard_text {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  background: linear-gradient(90deg, #db00ff 0%, #970d4f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.leaderboard {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(1, 0.5fr); */
  width: 50%;
  gap: 20px;
  padding: 0 100px;
}

.item:nth-child(1) .rank{
  color: #FFD700;
  font-weight: bolder;
}

.item:nth-child(2) .rank{
  color: #C0C0C0;
  font-weight: bolder;

}

.item:nth-child(3) .rank{
  color: #CD7F32;
  font-weight: bolder;

}



.item {
  display: flex;
  align-items: center;
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
    0 30px 60px -30px rgba(0, 0, 0, 0.3),
    inset 0 -2px 6px 0 rgba(255, 255, 255, 0.35);
  transition: all 0.3s ease-in-out;
}


.item:hover {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
    0 30px 60px -30px rgba(0, 0, 0, 0.3),
    inset 0 -2px 6px 0 rgba(255, 255, 255, 0.35);
}

.profileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
  padding: 1px;
}

.details {
  flex-grow: 1;
}

.name {
  font-weight: bold;
  margin-bottom: 5px;
}

.count {
  color: #888888;
}



.rank{
  font-size: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}


@media screen and (max-width: 1008px) {
  .leaderboard {
    padding: 0 20px;
    width: 100%;
  }


}
