


.leaderboard_text {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  /* margin-bottom: 20px; */
  text-align: center;
  background: linear-gradient(90deg, #db00ff 0%, #970d4f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-right: 1rem;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(1, 0.5fr); */
  gap: 20px;
  width: 75%;
  padding: 0 100px;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.item:nth-child(1) .rank {
  color: #FFD700;
  font-weight: bolder;
}

.item:nth-child(2) .rank {
  color: #C0C0C0;
  font-weight: bolder;

}

.item:nth-child(3) .rank {
  color: #CD7F32;
  font-weight: bolder;

}



.item {
  display: flex;
  align-items: center;
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
    0 30px 60px -30px rgba(0, 0, 0, 0.3),
    inset 0 -2px 6px 0 rgba(255, 255, 255, 0.35);
  transition: all 0.3s ease-in-out;
}


.item:hover {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
    0 30px 60px -30px rgba(0, 0, 0, 0.3),
    inset 0 -2px 6px 0 rgba(255, 255, 255, 0.35);
}

.profileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
  padding: 1px;
}

.details {
  flex-grow: 1;
}

.name {
  font-weight: bold;
  margin-bottom: 5px;
}

.count {
  color: #888888;
}



.rank {
  font-size: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.category {

  text-transform: uppercase;
  letter-spacing: .2em;
  /* background:#f7f7; */
  text-align: center;

}

.list {
  display: flex;
}


/* syles for fropdown in react */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  border-radius: 20% 30%;
  transition: all 0.3s ease-in-out;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #ffffff;
  color: #000000;
}



.content_btn {
  background-color: #000000;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: left;
  min-width: 6rem;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
    0 30px 60px -30px rgba(0, 0, 0, 0.3),
    inset 0 -2px 6px 0 rgba(255, 255, 255, 0.35);
  transition: all 0.3s ease-in-out;
  border-radius: 20% 30%;
  margin-bottom: 10px;

}



.content_btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  ;
  justify-content: center;
  margin-bottom: 1rem;
}

.dropdown_content {
  display: flex;
  position: absolute;
  flex-direction: column;
  min-width: 6rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

@media screen and (max-width: 1008px) {
  .leaderboard {
    padding: 0 20px;
    width: 100%;
    flex-direction: column;
    
  }

  .leaderboard_text {
    font-size: 30px;
  }

  .dropbtn {
    font-size: 20px;
    padding: 10px;
  }


  .list {
    display: flex;
    flex-direction: column;
  }


}




