body{
    background-color:black;
  }
  
  .hamburger__toggle{
    display:block;
    position: relative;
    background-color:#3d3d3d;
    width: 60px; 
    height: 60px; 
    margin:50px auto;
    border-radius:50%;
    border:none;
  }
  
  /* give the span element and related pseudo-elements the appearance of white lines */
  .hamburger__icon,
  .hamburger__icon::before,
  .hamburger__icon::after {
    position: absolute;
    width: 30px; 
    height: 2px;
    border-radius: 4px;
    background-color: white;
  }
  
  /* center the span element in the middle of its containing button */
  .hamburger__icon {
    top: calc(50% - 2px);
    left: calc(50% - 15px);
  }
  
  /* position the two pseudo-elements to the very left */
  .hamburger__icon::before,
  .hamburger__icon::after {
    content: "";
    left: 0;
  }
  
  /* this is the top dash of the hamburger */
  .hamburger__icon::before {
    bottom: 8px;
  }
  
  /* this is the bottom dash of the hamburger */
  .hamburger__icon::after {
    top: 8px;
  }
  
  /* HOVER STYLES ON THE BUTTON */
  
  /* rotate middle dash of hamburger */
  .hamburger__toggle:hover .hamburger__icon {
    height: 5px;
    width: 54px;
    left: 5px;
    top: calc(50% - 2px);
    transform: rotate(-45deg);
    background-color: red;
  }
  
  /* rotate bottom dash of hamburger counter clockwise */
  .hamburger__toggle:hover .hamburger__icon::after {
    width: 54px;
    height: 5px;
    top: -1px;
    transform: rotate(-270deg);
    background-color: red;
  }
  
  /* hide the top dash by scaling it to 0 */
  .hamburger__toggle:hover .hamburger__icon::before {
    transform: scale(0);
  }
  
  /* TRANSITION */
  /* adjust duration to see it happen slower */
  .hamburger__icon, .hamburger__icon::after {
    transition: all 0.3s linear;
  }