.deleteButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50px;
    padding: 4px 10px;
    height: 30px;
    border: 0.5px solid pink;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
  }

  .dark {
    background-color: rgb(37, 47, 66);
    color: white;
  }

  .light {
    background-color: rgb(255, 255, 255);
    color: rgb(37, 47, 66);
  }

  .dark:hover {
    background-color: rgb(72, 82, 101);
  }
  .light:hover {
    background-color: #F0F0F5;
  }
  
  .heartIcon {
    height: 35px;
    width: 35px;
    background: url("./delete-svgrepo-com.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    transform-origin: center center;
    transform: scale(0.7);
  }
  
  .heartIcon.deleted {
    animation: delete-anim 0.7s steps(28) forwards;
  }
  
  @keyframes delete-anim {
    to {
      background-position: right;
    }
  }
  
  .heartBg {
    background: rgba(255, 192, 200, 0);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease;
  }
  
  /* .heartBg:hover {
    background: rgba(255, 192, 200, 0.7);
  } */
  
  .deletesAmount {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #888;
    font-weight: 900;
    margin: 0;
  }
  