body {
    background: white
}

button {
    display: block;
    padding: 10px;
    height: 50px;
    width: 150px;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 100;
    margin: 100px auto;
    opacity: 0.8;
    background: transparent;
    background: #9f2ef6;
    font-weight: bold;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 2px;
}

button:hover {
    background: transparent;
    border: 2px solid #9f2ef6;;
    color: #7909cf;;
    font-weight: 500;
}
