body{
    background-color: rgb(63, 60, 60);
}
.container{
    display:flex;
    justify-content: center;
    margin-top: 20vw;
}
.btn{
    width: 30vw;
    height: 15vh;
    color: aqua;
    background-color: black;
    border-radius: 3%;
    cursor: pointer;
}
.text{
    font-size: 21px;
}
.btn span{
    position:relative;
    transition: 0.5s;
}
.btn span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;

}
.btn:hover span{
    padding-right: 35px;
    
}
.btn:hover span:after{
    opacity: 1;
    right: 0;
}
