@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 200px;
    height: 100px;
    background: #f3f0f1;
    position: relative;
    margin-bottom: 25px;
    border-radius: 32px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.5);
    color: #6f6cde;
}

.button span {
    line-height: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: semibold;
}

.button:hover {
    opacity: 1;
    color: #5e5bb9;
    background-color: #b6b5da;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 1), 6px 6px 10px rgba(255, 255, 255, 0.9);
}

.button:active {
    opacity: 1;
    background-color: #6f6cde;
    box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
}