.text_field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 90%;
}

.text_field textarea {
  display: inline-flex;
  gap: 10px;
  font-family: monospace;
  line-height: 21px;
  background: #282a3a;
  padding: 10px 10px;
  color: #ccc;
  width: 100%;
  height: 50vh;
  border-radius: 12px;
  border-color: #282a3a;
  resize: none;
}

.text_field button {
  margin-top: 9px;
  padding: 1.3em 3em;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease 0s;
  cursor: pointer;
}

.text_field button:hover {
  background-color: #282a3a;
  box-shadow: 0px 15px 20px rgba(97, 97, 97, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.text_field button:active {
  transform: translateY(-1px);
}
