body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    font-family: "Libre Baskerville", serif;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease;
    background-image: linear-gradient(
      45deg,
      #0e0547,
      #1756de,
      #b317de,
      #de174c,
      #eac50b
    );
    box-shadow: 0 0 10px rgba(15, 21, 143, 0.7), 0 0 20px rgba(106, 4, 140, 0.5),
      0 0 40px rgba(229, 8, 8, 0.3), 0 0 80px rgba(201, 222, 7, 0.2);
  }
  
  .button:hover {
    transform: rotate3d(1, 1, 0, 55deg) scale3d(1.1, 1.1, 1.1);
    box-shadow: 0 0 10px rgba(6, 60, 255, 0.9), 0 0 40px rgba(251, 0, 255, 0.7),
      0 0 40px rgba(1, 7, 29, 0.5), 0 0 120px rgba(255, 242, 0, 0.3),
      0 0 190px rgba(255, 0, 38, 0.2);
  }
  
  /* Button Hover Animation */
  .button::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.01) 50%,
      transparent 80%
    );
    transform: rotate(45deg);
    opacity: 0;
    transition: all 0.3s;
  }
  
  .button:hover::before {
    opacity: 1;
  }
  
  /* Button Click Animation */
  .button:active {
    transform: translateY(30px);
  }
  