body {
	min-height: 100vh;
	display: grid;
	place-items: center;
	background: #222;
}
.btn,
.btn *,
.btn :after,
.btn :before,
.btn:after,
.btn:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn:disabled {
  cursor: default;
}
.btn:-moz-focusring {
  outline: auto;
}
.btn svg {
  display: block;
  vertical-align: middle;
}
.btn [hidden] {
  display: none;
}
.btn {
  background: none;
  border-radius: 999px;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}
.btn:before {
  background: #fff;
  border-radius: 999px;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.btn:after,
.btn:before {
  content: "";
  pointer-events: none;
  position: absolute;
  transition: 0.4s;
  z-index: -1;
}
.btn:after {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background: hsla(0, 0%, 100%, 0.2);
  border-radius: 50%;
  height: 30px;
  left: 90%;
  top: 80%;
  width: 30px;
}
.btn:hover:before {
  height: 90%;
  left: 5%;
  top: 10%;
  width: 90%;
}
.btn:hover:after {
  border-radius: 10px;
  height: 80%;
  left: 5%;
  top: 10%;
  width: 90%;
}
