.button{
    display:block;
    margin:50vh auto;
    padding : 5px 20px;
    background:#00ff91;
    border-style:none;
    font-size:1.5rem;
    font-weight:550;
    border-radius : 20px;
}
.button:hover{
    background:#78f7c0;
    scale:1.4;
    transition:scale .5s;
    box-shadow:0 0 10px #100d0d;
    color:rgb(23, 23, 23);
    font-weight:450;
}