*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.25em;
    position: relative;
    margin: 32px;
}

/* button 2 */

.btn2{
    color: rgb(126, 125, 125);
}

.btn2::after, .btn2::before{
    border: 3px solid rgb(126, 125, 125);
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.btn2:hover::after{
    transform: translate(-5px, -5px);
}

.btn2:hover::before{
    transform: translate(5px, 5px);
}
