body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

button {
    font: 700 20px consolas;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 40px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: 0.2s;
    transform: scale(2);
    cursor: pointer;
}

button span {
    position: relative;
    z-index: 0;
    color: #fff;
}

button .liquid {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 200px;
    background: #ff5252;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.7);
    z-index: -1;
    transition: 0.6s;
}

button .liquid::after,
button .liquid::before {
    position: absolute;
    content: "";
    width: 200%;
    height: 200%;
    top: 0;
    left: 0;
    transform: translate(-25%, -75%);
}

button .liquid::after {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    box-shadow: 0 0 10px 5px #ff5757, inset 0 0 5px #7293ff;
    animation: animate 5s linear infinite;
    opacity: 0.8;
}

button .liquid::before {
    border-radius: 40%;
    box-shadow: 0 0 10px rgba(26, 26, 26, 0.5),
        inset 0 0 5px rgba(26, 26, 26, 0.5);
    background: rgba(88, 51, 51, 0.5);

    animation: animate 7s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-25%, -75%) rotate(0);
    }

    100% {
        transform: translate(-25%, -75%) rotate(360deg);
    }
}

button:hover .liquid {
    top: -90px;
}

button:hover {
    box-shadow: 0 0 5px #ff3b3b, inset 0 0 5px #7293ff;
    transition-delay: 0.2s;
}
button:active{
    transform: scale(0.8,0.8);
}