body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: white;
    margin: 0;
  }


  
button{
    position: relative;
    width: 160px;
    height: 50px;
    border-radius: 60px;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    z-index: 5;

}
.wave{
    position: absolute;
    animation-fill-mode: forwards;
   
}
.one{
    position: absolute;

    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(0, 128, 0);
    animation-name: animation1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.two{
    position: absolute;

    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgba(13, 231, 78, 0.885);
    animation-name: animation2;
    animation-duration: 2s;
    
}


@keyframes animation1 {
    0%{
        width: 0px;
        height: 0px;
    }

    100%{
        width: 80px;
        height: 80px;
    }
}

@keyframes animation2 {
    0%{
        width: 0px;
        height: 0px;
    }

    100%{
        width: 120px;
        height: 120px;
        display: none;
    }
}