body {
  background: #000000;
  align-items: center;
  
}
h1 {
  position: relative;
  text-align: center;
  color: #353535;
  font-size: 50px;
  font-family: "Cormorant Garamond", serif;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  color: #676767;
}
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btns {
  border: none;
  color: #ffffff;
}
.btns:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
   -7px -7px 20px 0px rgba(25, 255, 5, 0.6),
   -4px -4px 5px 0px rgba(25, 161, 31, 0.6),
   7px 7px 20px 0px rgba(56, 146, 34, 0.133),
   4px 4px 5px 0px rgba(0, 0, 0, 0.067);
  transition: all 0.3s ease;
}
.btns:hover {
  color: #33ff00;
}
.btns:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btns:active {
  top: 2px;
}