* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #272525;
}

a {
    position: relative;
    background: rgba(193, 193, 193, 0.573);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;



}

/* Hover effect on button */

a:hover {
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 45px var(--clr);
}

a::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #272525;


}

a span {
    position: relative;
    z-index: 1;

}