button {
    background: transparent;
    box-sizing: border-box;
    border-radius: 0.6rem;
    align-self: center;
    font-size: 17px;
    font-weight: 400;
    margin: 20px;
    padding: 20px 40px;
    text-align: center;
    color: aliceblue;
    font-family: Pangolin;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid #ed0d54;


}

.btn:hover {
    animation: beats 1s infinite;
    transition: .3s;
}

@keyframes beats {
    0%{
        transform: scale(1);
    }
    60%{
        transform: scale(.9);
        box-shadow: 10px 10px 0 rgb(214,28,78,0.3);
    }
    100%{
        transform: scale(1);
    }
} 
    
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
  }

.btn {
    background-color: transparent;
    border: 3px solid #ed0d54;
    color: #f8f5f6;
  }
