@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
  display: flex;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid #ff6f61;
  margin: 40px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 2px;
  color: #fff;
  -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  transition: 0.5s;
  transition-delay: 0s;
  background-color: #ff6f61;
  background-image: linear-gradient(45deg, #ff6f61, #ff887d);
  box-shadow: 0 5px 15px rgba(255, 111, 97, 0.4);
  animation: buttonAnimation 1s ease-in-out infinite;
}

@keyframes buttonAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.button a:hover {
  transition-delay: 1.5s;
  color: #000;
  background-image: linear-gradient(45deg, #ff887d, #ff6f61);
  box-shadow: 0 5px 15px rgba(255, 111, 97, 0.8);
}

.button a:nth-child(2) {
  filter: hue-rotate(80deg);
}

.button a::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #ff6f61;
  box-shadow: 5px -8px 0 #ff6f61, 5px 8px 0 #ff6f61;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s, 0.5s, 0s, 0s;
}

.button a:hover::before {
  width: 60%;
  height: 100%;
  left: -2px;
  box-shadow: 5px 0 0 #ff6f61, 5px 0 0 #ff6f61;
  transition-delay: 0s, 0.5s, 1s, 1s;
}

.button a::after {
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #ff6f61;
  box-shadow: -5px -8px 0 #ff6f61, -5px 8px 0 #ff6f61;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s, 0.5s, 0s, 0s;
}

.button a:hover::after {
  width: 60%;
  height: 100%;
  right: -2px;
  box-shadow: -5px 0 0 #ff6f61, -5px 0 0 #ff6f61;
  transition-delay: 0s, 0.5s, 1s, 1s;
}

.button a span {
  position: relative;
  z-index: 100;
}
