*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

button{
    font-size:1.2rem;
    border: none;
    padding:0.5rem 1.8rem;
    border-radius: 10px;
    color:white;
    background-color: #333;
    outline: none;
    box-shadow: 0 0.3rem rgb(121,121,121,0.65);
    cursor: pointer;
    transition: all 500ms ease;
}
button:hover{
    filter: brightness(110%);
}
button:active{
    transform: translate(0,0.3rem);
    box-shadow: 0 0.1rem;
}

#linkedin-button:hover{
    background-color:#0077B5
}