* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #1adef4 ,#9d15c2);
  }

  #container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .animated-button {
    background: #4CAF50;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight:bold;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
  }

  .animated-button:after {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    cursor:pointer;
  }

  .animated-button:hover {
    background: #3e8e41;
    font-weight:bolder;
  }

  .animated-button:hover:after {
    left: 0;
  }
  