.text {
  text-align: center;
  margin-bottom: 50px;
}
.btns_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  margin-bottom: 100px;
}
.btn_container {
  display: flex;
  flex-direction: column;
}
.btn_container > button {
  margin: 2px;
}
.container {
  all: unset;
  width: 340px;
  height: 250px;
  border: 1px solid #8b8b8b;
  box-shadow: 0px 4px 20px 0px #00000040;
  border-radius: 12px;
}
.download {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.download > div {
  margin: auto;
}
.download > div > a {
  text-decoration: none;
}

button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  width: 340px;
  color: #000;
  background-color: #fff;
  border: none;
  font-family: "Montserrat", sans-serif;
  border-radius: 12px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  outline: 0.5px solid rgb(175, 162, 162);
}

button:hover {
  box-shadow: 0px 15px 20px rgba(41, 46, 53, 0.425);
  font-weight: 700;
  letter-spacing: 0.8rem;
}

button:active {
  transform: translateY(-1px);
}

.dark_mode {
  background-color: rgb(20, 20, 20);
  color: white;
}
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.paginationList {
  list-style-type: none;
  display: flex;
  gap: 5px;
}

.paginationItem {
  padding: 15px 20px;
  background-color: #eaeaea;
  border: 1px solid #ccc;
  cursor: pointer;
}

.paginationItem:hover,
.paginationItem.active {
  background-color: #ccc;
  color: #fff;
}
