* {
  box-sizing: border-box;
}

.text {
  text-align: center;
  margin-bottom: 50px;
}

.btns_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 100px;
  margin-bottom: 100px;
}

.btn_container {
  display: flex;
  flex-direction: column;
}

.container {
  all: unset;
  width: 340px;
  height: 250px;
  border: 1px solid #8b8b8b;
  box-shadow: 0px 4px 20px 0px #00000040;
  border-radius: 12px;
}

.dark_mode {
  background-color: rgb(20, 20, 20);
  color: white;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.paginationList {
  list-style-type: none;
  display: flex;
  gap: 5px;
}

/* styles for created by tag */
.createdBy {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #4285f4;
  padding: 8px 12px;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
  text-align: center;
  color: #000;
  cursor: help;
  cursor: pointer;
  /* width: 100%; */
}

.createdBy:before {
  content: "\f007";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.createdBy:hover {
  background-color: #3a79e8;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.user {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* styles for the download button (actual button not the outer div) */
.download_btn {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #f57c00;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
}

.arrow {
  width: 40px;
  font-size: 25px;
  margin-bottom: 10px;
  margin-left: 3px;
  align-self: start;
  background-color: #f57c00;
  border-radius: 0 10px 10px 0;
  color: #fff;
}

.arrow:hover {
  background-color: #e65100;
}

.containerForArrow {
  display: flex;
}

.download_btn:hover {
  background-color: #e65100;
  cursor: pointer;
  letter-spacing: 0.3rem;
}

.download_btn:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  outline: none;
}

/* Styles For Pagination */
.paginationItem {
  color: white;
  padding: 10px 16px;
  background-color: #494949;
  border: 1px solid #353535;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}

.paginationItem:hover,
.paginationItem.active {
  background-color: #151515;
  color: #ffffff;
}

.paginationItem:hover {
  transform: scale(1.1);
}
