

.text {
  text-align: center;
  margin-bottom: 50px;
}

.btns_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  margin-bottom: 100px;
}

.btn_container {
  display: flex;
  flex-direction: column;
}

.container {
  all: unset;
  width: 340px;
  height: 250px;
  border: 1px solid #8b8b8b;
  box-shadow: 0px 4px 20px 0px #00000040;
  border-radius: 12px;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;

}

.download > div {
  margin: auto;
}

.download > div > a {
  text-decoration: none;
}

button {
  padding: 1.3em 3em;
  margin: 3px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  width: 100%;
  color: #000;
  background-color: #fff;
  border: none;
  font-family: "Montserrat", sans-serif;
  border-radius: 12px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
}

button:hover {
  box-shadow: 0px 15px 20px rgba(41, 46, 53, 0.425);
  font-weight: 700;
  letter-spacing: 0.8px;
}

button:active {
  transform: translateY(-1px);
}

.dark_mode {
  background-color: rgb(20, 20, 20);
  color: white;
}
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.paginationList {
  list-style-type: none;
  display: flex;
  gap: 5px;
}

/* styles for created by tag */
.createdBy {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  background:linear-gradient(45deg,#F57C00 50%,#0079F5 50%);
  padding: 8px 12px;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  text-align: center;
  color: white;
  cursor: pointer;
  letter-spacing: 2.5px;
}

.createdBy:before {
  content: "\f007";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.createdBy:hover,
.createdBy:focus {
  background:linear-gradient(45deg, #e65100 50%,#0061F5 50%);
  letter-spacing: 0.2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  outline: none;
}

.user{
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}


/* styles for the download button (actual button not the outer div) */
.download_btn {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #f57c00;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  letter-spacing: 2.5px;
}

.download_btn:hover,
.download_btn:focus {
  background-color: #e65100;
  cursor: pointer;
  letter-spacing: 0.3rem;
}

.download_btn:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  outline: none;
}


/* Styles For Pagination */
.paginationItem {
  color: white;
  padding: 10px 16px;
  background-color: #494949;
  border: 1px solid #353535;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}

.paginationItem:hover,
.paginationItem.active {
  background-color: #151515;
  color: #ffffff;
}

.paginationItem:hover {
  transform: scale(1.1);
}

