/* The display flex property and other properties used below make it possible to center the div vertically and horizontally */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}

/* For the code responsible for the animation, checkout the 'animation.js' file */