body {
  margin: 0;
  padding: 0;
  background: rgb(202, 229, 251);
}
a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 250px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 6px;
  font-size: 24px;
  color: rgb(6, 29, 119);
  background: rgb(0, 140, 255);
  border-radius: 40px;
  box-shadow: 0 0 15px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255);
  transition: 0.5s;
}
a:hover {
  transform: translate(-50%, -50%) scale(0.9);
  animation: pulse 1s linear infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 15px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255);
  }
  50% {
    box-shadow: 0 0 0 20px rgb(0, 140, 255, 0.5),
      0 0 0 20px rgb(0, 140, 255, 0.5);
    filter: blur(0.5px);
  }
  /* 100% {
    box-shadow: 0 0 0 20px, 0 0 0 80px;
  } */
}
