body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

@keyframes buttonAnimation {
  0% {
    transform: scale(1);
    background-color: #4caf50;
  }
  50% {
    transform: scale(1.2);
    background-color: #ff9800;
  }
  100% {
    transform: scale(1);
    background-color: #4caf50;
  }
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  animation: buttonAnimation 1s infinite;
}

.button:hover {
  animation-play-state: paused;
}
