*{
    margin:0;
    padding:0;
  }
  
  body{
    display:flex;
    height:100vh;
    background:#151515;
    align-items:center;
    justify-content:center;
  }
  
  .btn{
    position:relative;
    display:flex;
    border:2px solid;
    border-radius:15px;
    padding: 1rem 2rem;
    background:#ff9400;
    box-shadow: 0px 1px 0px 0px #000000;
  }
  
  .btn:hover{
    animation: shadow-pop-br 0.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    cursor: pointer;  
}
  
  
  @keyframes shadow-pop-br {
    0% {
      box-shadow: 0 0 #d17000, 0 0 #d17000, 0 0 #d17000, 0 0 #d17000, 0 0 #d17000, 0 0 #d17000, 0 0 #d17000, 0 0 #d17000;
      transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: 1px 1px #c9106d, 2px 2px #c9106d, 3px 3px #c9106d, 4px 4px #c9106d, 5px 5px #c9106d, 6px 6px #c9106d, 7px 7px #c9106d, 8px 8px #c9106d;
      transform: translateX(-8px) translateY(-8px);
    }
  }
  