*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#49c6ff;
}
a{
    position:relative;
    background: #058d9e;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 4px;
    padding:20px 40px;
    transition:ease-in-out 2s;
    transform-style:preserve-3d;
    border-radius: 60px;
}

a:hover{
    transform:rotateX(360deg);
}

a span{
    display:block;
    font-weight:bold;
    transform-style: preserve-3d;
    transform: perspective(100px) translateZ(20px);
}

a:before{
    content:'';
    position:absolute;
    top:4px;
    left:6px;
    right:6px;
    border:2px solid #fff;
    bottom:4px;
    transform-style: preserve-3d;
    transform: perspective(500px) translateZ(15px);
    border-radius: 60px;
}

a:before{
    content:'';
    position:absolute;
    top:2px;
    left:2px;
    right:2px;
    border:2px solid #fff;
    bottom:2px;
    transform-style: preserve-3d;
    transform: perspective(500px) translateZ(-15px);
    border-radius: 60px;
}

