* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fff;
}
button {
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  background-color: lightblue;
  transition: padding 0.5s ease-in-out, background-color 0.5s ease-in-out,
    border 0.5s ease-in-out;
}

button:hover {
  background-color: gold;
  padding: 20px;
  border: 2px solid black;
}
