body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#ffff ;
}
a{
    position: relative;
    padding: 20px 40px;
    background:#fc701e;
    color:#0d0404;
    text-transform: uppercase;
    font-family: sans-serif;
    text-decoration: none;
    letter-spacing: 2px;
    transition: ease-in-out 3s;
    transform-style: preserve-3d;
    border-radius: 60px;
}
a:hover{
    transform: rotateX(360deg);
}
a span{
    display: block;
    font-weight: bold;
    transform-style: preserve-3d;
    transform: perspective(100px) translateZ(20px);
}
a::before{
    content:'' ;
    position: absolute;
    top: 4px;
    left: 6px;
    right: 6px;
    bottom: 4px;
    border: 2px solid #000000;
    transform-style: preserve-3d;
    transform: perspective(500px) translateZ(15px);
    border-radius: 60px;
}
a:after{
    content:'' ;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border: 2px solid #000000;
    transform-style: preserve-3d;
    transform: perspective(500px) translateZ(-15px);
    border-radius: 60px;
}
