*{
    margin: 0px;
    padding: 0xp;
    box-sizing: border-box;
    outline-style: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgba(100, 32, 163, 0.877);
    margin: auto;
    height: 40px;
    width: 100px;
    clip-path: circle(20%);
    transition: 0.5s;
}

span{    
    font-size: 0px;
    color: burlywood;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    transition: 0.5s;
}

button:hover{
    transition: 0.5s;
    clip-path: circle(100%);
    border: 1px purple solid;
    background: rgba(226, 180, 138, 0.925);
}

span:hover{
    transition: 0.5s;
    font-size: 15px;
    color: purple;
    transform: rotate(360deg);
}