@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.main {
  width: 170px;
  height: 70px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  background-color: #fdcb6e;
  cursor: pointer;
  box-shadow: 5px 5px 0 0;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20px;
}
a {
  position: absolute;
  text-decoration: none;
  color: #000;
  z-index: 1000;
}
.main::after {
  content: "";
  top: 0;
  left: 0;
  width: 170px;
  height: 70px;
  background: linear-gradient(to right, #ff7675, #e84393);
  opacity: 0;
  transition: 0.3s;
}
.main:hover {
  box-shadow: -5px -5px 0 0;
  transform: scale(0.9);
}
.main:hover::after {
  opacity: 1;
}