:root {
  /* --main-color: #a8a9b4; */
  --transition-speed2: 0.2s;
  --transition-speed4: 0.4s;
  --main-color: #0a1931;
  --hover-color: #ff7e28;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-wrapper .btn-item {
  position: relative;
  width: 240px;
  font-size: 24px;
  text-align: center;
  padding: 8px 0px;
}

.btn-wrapper .btn-item:hover {
  color: var(--hover-color);
}

.btn-effect {
  border: 1px solid transparent;
  -webkit-transition: all var(--transition-speed4) cubic-bezier(0.5, 0.24, 0, 1);
  transition: all var(--transition-speed4) cubic-bezier(0.5, 0.24, 0, 1);
}

.btn-effect::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  width: 0%;
  height: 1px;
  background: var(--hover-color);
  box-shadow: inset 0px 0px 0px var(--main-color);
  display: block;
  -webkit-transition: all var(--transition-speed4) cubic-bezier(0.5, 0.24, 0, 1);
  transition: all var(--transition-speed4) cubic-bezier(0.5, 0.24, 0, 1);
}

.btn-effect:hover::before {
  width: 100%;
}

.btn-effect::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
  width: 0%;
  height: 1px;
  background: var(--hover-color);
  -webkit-transition: all var(--transition-speed4) cubic-bezier(0.5, 0.24, 0, 1);
  transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
}
.btn-effect:hover::after {
  width: 100%;
}

.btn-effect:hover {
  border-left: 1px solid var(--hover-color);
  border-right: 1px solid var(--hover-color);
}
