* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
}

.sanjay-btn {
  outline: none;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 5px;
}
.btn-text {
  color: #fff;
  font-size: 32px;
}

/* ring style */
.lds-ring {
  display: none;
  position: relative;
  width: 60px;
  height: 50px;
  padding: 2px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
