button {
    padding: 10px 20px;
    border: none;
    /* background: transparent; */
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.3s;
  }
  body {
    min-height: 90vh;
    background: #3e4b78;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

  
  .unchecked {
    background-color: black;
    color: #ffffff;
  }
  
  .checked {
    background-color: #27ae60;
    color: #ffffff;
  }

  .unchecked:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
}

.unchecked:hover:before,
.unchecked:hover:after {
    animation: none;
    opacity: 0;
}


.unchecked::before {
    content: "";
    width: 104.5%;
    height: 110%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -5%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}


  