.button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8px 12px 8px 16px;
    gap: 8px;
    height: 40px;
    width: 128px;
    border: none;
    background: #056bfa27;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .lable {
    margin-top: 1px;
    font-size: 19px;
    line-height: 22px;
    color: #056DFA;
    font-family: sans-serif;
    letter-spacing: 1px;
  }
  
  .button:hover {
    background: #056bfa49;
  }
  .button:hover .svg-icon {
    -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    25% {
      -webkit-transform: rotate(-8deg);
              transform: rotate(-8deg);
    }
    50% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    75% {
      -webkit-transform: rotate(8deg);
              transform: rotate(8deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  
  }
  
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    25% {
      -webkit-transform: rotate(-8deg);
              transform: rotate(-8deg);
    }
    50% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    75% {
      -webkit-transform: rotate(8deg);
              transform: rotate(8deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  
  }