
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');




*{
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    margin-top: 150px;
}
.btn{
    padding: 10px 15px;
    border-radius: 40px;
    width: 180px;
    font-size: 26px;
    cursor: pointer;
    border: 2px solid #1F8A70;
    color: #1F8A70 ;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}

.btn:hover{
    background-color: #1F8A70;
    color: white;
}
.loading{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-color: gray;
    border-left: 2px solid #1F8A70 ;
    animation: rotating 2s  0.25s linear infinite;
}
.loading:hover{
    background-color: white;
}
.display{
        transition: 0.5s;
        padding: 10px 15px;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        font-size: larger;
        cursor: pointer;
        border: none;
        background-color: #1F8A70;
}
.tick{
    color: white;
    font-size: 35px;
    text-align: center;
    animation: letter-animation 5s linear forwards;
    animation-delay: 15.1s;
}
@keyframes rotating {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    @keyframes letter-animation {
        0% {
            stroke-dashoffset: 2600;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }   
