html,
body {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Lato";
}

button {
  margin: 50px;
  font-family: inherit;
}

.shadow {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.shadow::after {
  content: "";
  background-color: #F8C8DC;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 8px;
  left: 8px;
  transition: 0.2s;
}

.shadow:hover::after {
  top: 0px;
  left: 0px;
}
