/* Body and Container Settings */
/* Center shapes */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Set blue background and light gray border */
.container {
  width: 500px;
  height: 250px;
  border: 5px solid lightgray;
  background: transparent;
  position: relative;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

/* Stripe Container */
.stripe-container {
  width: 500px;
  height: 250px;
  font: 900 5.5rem sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  border-radius: 20px;
}

/* Stripe Background Gradient */
button{
  width: 500px;
  height: 250px;
  font: italic 1.2em "Fira Sans", serif;
  font-weight: 900;
  cursor: pointer;
  border-radius: 20px;
}
.stripe-background {
  background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 20px,
      white 60px
    ),
    linear-gradient(
      10deg,
      royalblue,
      #5768df,
      #8164d7,
      #aa60c8,
      #cc60b3,
      #e3689c,
      #ed7889,
      #ee8c7e,
      #e99e7c,
      #e4ac7f,
      #e0b585,
      burlywood
    );
  /* Background Text Clip */
  /* webkit vendor prefix start */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* webkit vendor prefix end */
  background-clip: text;
  
}
.stripe-background:hover{
  animation: stripe-text-animation 2.5s alternate infinite;
}

/* Stripe Text Animation */
@keyframes stripe-text-animation {
  from {
    background-position: 0 100px;
  }

  to {
    background-position: 300px 300px;
  }
}



