@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
  
$white: #f4f4fa;
$black: #444;

body {
  background-color: $white;
  font-family: "Source Sans Pro"; 
}
  
.container {
  padding: 0 20px;
  text-align: center;
}   

button {
  background-color: $black;
  border: 5px solid $black;
  color: $white;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  width: 300px;
  height: 50px;
  overflow: hidden;
  transition: background-color 0.5s;
  
  &:focus {
    outline: none;
  }
  
  span, 
  .hidden {
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 40px;
    width: 100%;
    transition: color 0.5s;
  }
  
  span {
    left: 0;
    transition: left 0.3s;
  }
  
  .hidden {
    left: -100%;
    transition: left 0.3s;
  }
  
  // Move stuff on hover   
  &:hover {
    background-color: $white;
    span {
      left: 100%;
      color: $black;
    }
      
    .hidden {
      left: 0;
    }
  }
      
}