@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
 body {
	 background-color: #f4f4fa;
	 font-family: "Source Sans Pro";
	 display: flex;
	 height: 100vh;
	 justify-content: center;
	 align-items: center;
}
 .container {
	 padding: 0 20px;
	 text-align: center;
}
 button {
	 background-color: #444;
	 border: 5px solid #444;
	 color: #f4f4fa;
	 font-size: 1em;
	 font-weight: bold;
	 text-transform: uppercase;
	 position: relative;
	 width: 300px;
	 height: 50px;
	 overflow: hidden;
	 transition: background-color 0.5s;
   align-content: center;
}
 button:focus {
	 outline: none;
}
 button span, button .hidden {
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 line-height: 40px;
	 width: 100%;
	 transition: color 0.5s;
}
 button span {
	 left: 0;
	 transition: left 0.3s;
}
 button .hidden {
	 left: -100%;
	 transition: left 0.3s;
}
 button:hover {
	 background-color: #f4f4fa;
}
 button:hover span {
	 left: 100%;
	 color: #444;
}
 button:hover .hidden {
	 left: 0;
}
 