body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'barlow Condensed' , sans-serif;
    background-color: #a1ffa1;
}

form{
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 4px 2px #000;
}

.radio{
    display: none;
}
.emoji{
   font-size: 40px;
   padding: 5px 10px;
   cursor: pointer;
   display: inline-block;


}
#mood-1:checked ~ .emoji-1,
#mood-2:checked ~ .emoji-2,
#mood-3:checked ~ .emoji-3,
#mood-4:checked ~ .emoji-4,
#mood-5:checked ~ .emoji-5

{
    background-color: #111;
}
