
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}


button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid black;
    border-radius: 20px;
    font-size: large;
    font-family:unset;
    font-weight: 800;
    font-stretch: semi-expanded;
    color: aliceblue;
    background-color: black;
    text-shadow:1px 1px 1px yellow;
    cursor: pointer;
    animation-name: rotate;
    animation-duration: 2s;
    
   
}


@keyframes rotate {
    0%   {background-color:red; left:0px; top:0px;color: green;border-color: black;}
    25%  {background-color:black; left:200px; top:0px;color:red ;border-color: red;}
    50%  {background-color:blue; left:200px; top:200px;color: aliceblue;border-color: black;}
    75%  {background-color:green; left:0px; top:200px;color: yellow;border-color: black;}
    100% {background-color:red; left:0px; top:0px;color: white;border-color: black;}
  }





button:hover{
    background-color: green;
    color: aliceblue;
    text-shadow: 2px 1px 1px black;
    border-color:green;
    animation-name: rotate1;
    animation-duration: 2s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction:alternate ;
    
     
   
    
}

@keyframes rotate1 {
    
    0%   {background-color:red; left:0px; top:0px; transform: rotate(0deg); box-shadow:10px 0px 0px  gray;}
    25%  {background-color:orange; left:200px; top:0px;transform: rotate(90deg); box-shadow:0px 10px 0px gray;}
    50%  {background-color:blue; left:200px; top:200px;transform: rotate(180deg);box-shadow:0px 0px 10px gray;}
    75%  {background-color:green; left:0px; top:200px;transform: rotate(270deg);box-shadow:0px 10px 0px gray;}
    100% {background-color:red; left:0px; top:0px;transform: rotate(360deg);box-shadow:10px 0px 0px  gray;}
    
  }
