
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.button{
    text-align: center;
    font-size: 18;
    font-weight: 700;
    display: inline;
    border: 2px solid yellow;
    background:black;
    color: white;
    height: 50px;
    width: 100px;
    cursor: pointer;
    border-radius: 5rem;
    font-family: serif;
    font-style: italic;
    font-variant: small-caps;
    box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
}

.button:hover{
    transition-duration: 0ms;
    background-color: yellow;
    color: black;
    font-weight: 800;
    font-size: 20;
    border: 2px solid black;
    border-radius:50%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px white;
    box-shadow:   5px 5px 8px red;
   
}

.button span {
    cursor: pointer; 
    display: inline-block;
    position: relative;
    transition: 0.5s;
   
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }