.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  z-index: 1;
}
.navlist {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 30px;
  padding: 0;
}
.list_item {
  list-style-type: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.list_item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fedc02;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.navbar.navbar-light .navlist .list_item::after {
  background-color: blue;
}
.list_item:hover::after {
  visibility: visible;
  transform: scaleX(1);
}
.list_item_link {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.navbar.navbar-dark .navlist .list_item .list_item_link {
  color: #fff;
}
.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.add {
  background-image: linear-gradient(
    to right,
    #00c6ff 0%,
    #0072ff 51%,
    #00c6ff 100%
  );
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  display: flex;
  align-items: center;
  gap: 2px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.add:hover {
  background-position: right center;
  text-decoration: none;
}
.github {
  all: unset;
  transition: all 0.3s ease-in-out;
  background-color: #21252c;
  border-radius: 12px;
  padding: 12px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  gap: 7px;
}
.github:hover {
  background-color: #232b32;
}

.image_container,
.image_container_mobile {
  width: 30px;
  height: 30px;
  /* border-radius: 50%; */
  overflow: hidden;
  /* border: 1px solid #fff; */
  /* box-shadow: 0px 4px 1px 0px #00000040; */
}
.image_container_mobile {
  display: none;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 2rem;
}
.username,
.addbtn {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0px 4px 4px 0px #00000040;
  filter: drop-shadow(0px 4px 1px rgba(255, 255, 255, 0.25));
}
.navbar.navbar-light .github .username {
  color: black;
  transition: all 0.3s ease-in-out;
}

.navbar.navbar-light .github:hover {
  background: #00CCCC;
  transition: all 0.3s ease-in-out;
}
.navbar.navbar-light .github {
  background: white;
  transition: all 0.3s ease-in-out;
}
.navbar.navbar-light .github .image_container {
  color: black;
  transition: all 0.3s ease-in-out;
}
.github:hover .username {
  color: #ffffff;
  transition: all 0.1s ease-in-out;
}
.navbar.navbar-dark .username {
  color: #fff;
  text-shadow: 0px 4px 4px 0px #ffffff40;
  filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.25));
}
.navbar.navbar-dark .image_container {
  color: cyan;
}
.navbar.navbar-dark .github:hover .username {
  color: cyan;
  transition: all 0.3s ease-in-out;
}
.mode_toggle {
  position: relative;
  display: block;
  border: none;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 300px;
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
}

.dark_mode {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
  box-shadow: 3px 3px 5px 0px rgb(192, 191, 191);
}

.light_mode {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
  box-shadow: 3px 3px 5px 0px #828282;
}
.light_mode img {
  filter: invert(100%);
}

.mode_toggle img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}


.loggedIn{
  display: flex;

}

.logOut{
  margin-left: 1rem;
  border-radius: 12px;
}




@media screen and (max-width: 768px) {
  .navbar {
    padding: 20px 20px;
    justify-content: center;
  }
  .github {
    display: none;
  }
  .image_container_mobile {
    display: block;
    margin: 0;
    padding: 0;
  }
  .navbar.navbar-light .navlist .image_container_mobile {
    color: black;
  }
  .navbar.navbar-dark .navlist .image_container_mobile {
    color: white;
  }
}
