::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orange; 
}

.navWrap{
  position:sticky;
}

.navCont{
  border-radius: 8px;
  padding: 6px 20px;
  border-bottom: 2px solid gray;
}

.navCont .navbar {
  display: flex;
  justify-content: space-between;
  place-items: center;
}

.navCont.dark_mode{
  background-color: #141414;
}

.logo {
  width: 80px;
  height: 50px;
}

.github {
  width: 50px;
  height: 50px;
}

.github,
.spider {
  transition: all 0.3s ease;
}
.github:hover,
.spider:hover {
  transform: rotate(-10deg) scale(1.2);
}
.spider_img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.mode_toggle {
  border: none;
  margin-left: auto;
  margin-right: 20px;
  background-color: #18110e;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.mode_toggle.dark_mode{
  background-color: white;
}

.mode_toggle.dark_mode img{
  width: 30px;
  height: 28px;
}

.mode_toggle.light_mode img {
  width: 30px;
  height: 28px;
  filter:invert();
}

