::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orange;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: rgba(256, 256, 256, 1);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 20px;
  box-shadow: 0px 7px 18px 0px #0000002e;
}
.logo {
  width: 100px;
}
.github {
  width: 60px;
}
.github,
.spider {
  width: 50px;
  filter: grayscale(1);
  transition: all 0.3s ease;
}
.github:hover,
.spider:hover {
  filter: grayscale(0);
  transform: rotate(-10deg) scale(1.2);
}
.spider_img {
  width: 80px;
}
.mode_toggle {
  position: relative;
  display: block;
  border: none;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 300px;
  margin-left: auto;
  margin-right: 20px;
}

.dark_mode {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
  box-shadow: 3px 3px 5px 0px rgb(192, 191, 191);
}

.light_mode {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
  box-shadow: 3px 3px 5px 0px #828282;
}

.light_mode img {
  filter: invert(100%);
}
