::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orange; 
}

.navbar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .navbarContainer.light_mode{
  width: 100%;
  padding: 10px;
  background-color: #feffde;
  display: flex;
  place-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.navbar .navbarContainer.dark_mode{
  width: 100%;
  padding: 10px;
  background-color: #191919;
  display: flex;
  place-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.navbar .navbarContainer .navbarLeft{
  display: flex;
  place-items: center;
  justify-content: center;
  gap: 20px;
}

.link{
  width: 100px;
  height: 80px;
  display: grid;
  place-items: center;
  justify-content: center;
}

.link .logo {
  width: 100%;
  height: 100%;
}

.spider{
  width: 100px;
  height: 100px;
}

.spider img{
  width: 100px;
  height: 100px;
}

.navbar .navbarContainer .navbarRight{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.mode_toggle {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 100%;
  margin-top: 0;
}

.mode_toggle img {
  display: block;
  width: 100%;
  height: 100%;
}

.link .github{
  width: 60px;
  height: 60px;
  margin-bottom: -4px;
}


.github:hover,
.spider:hover {
  transform: rotate(-10deg) scale(1.2);
}

.dark_mode {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
}

.light_mode {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
}

.mode_toggle.light_mode img{
  filter: invert();
}

@media screen and (max-width: 768px){
  .link{
    width: 70px;
    height: 60px;
    display: flex;
    justify-content: center;
    place-items: center;
  }

  .mode_toggle {
    width: 55px;
    height: 55px;
  }
  
  .spider{
    width: 80px;
    height: 80px;
  }

  .spider img{
    width: 80px;
    height: 85px;
  }

  .navbar .navbarContainer .navbarLeft{
    gap: 0;
  }

  .navbar .navbarContainer .navbarRight{
    gap: 10px;
  }
}