* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, #577d82, #07114d); 
    }
    button {
    cursor: pointer;
    border-radius: 128px;
    font-size: 2rem;
    padding: 1rem;
    transition: 1s;
    font-weight: 600;
    background-image: linear-gradient(to right, #8ca0a2, #37406c); 
    }
    
    button span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    button:hover {
    box-shadow: 5px 2px 12px 4px rgba(203, 189, 189, 0.73);
    font-size: 3rem;
    text-shadow: 0 0 10px rebeccapurple, 0 0 16px rebeccapurple, 0 0 32px rebeccapurple, 0 0 36px rebeccapurple,
    0 0 6px rgb(73, 6, 140);
    font-weight: bold;
    color: #fee;
    }
    
    button:hover span:nth-child(1) {
    animation-name: smooth1;
    animation-duration: 0.45s;
    animation-iteration-count: 3;
    }
    button:hover span:nth-child(2) {
    animation-name: smooth1;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
    }
    button:hover span:nth-child(3) {
    animation-name: smooth1;
    animation-duration: 0.55s;
    animation-iteration-count: 3;
    }
    button:hover span:nth-child(4) {
    animation-name: smooth1;
    animation-duration: 0.6s;
    animation-iteration-count: 3;
    }
    button:hover span:nth-child(5) {
    animation-name: smooth1;
    animation-duration: 0.65s;
    animation-iteration-count: 3;
    }
    button:hover span:nth-child(6) {
    animation-name: smooth1;
    animation-duration: 0.7s;
    animation-iteration-count: 3;
    }
    
    @keyframes smooth1 {
    0% {
    color: rgb(192, 92, 92);
    }
    
    100% {
    color: rgb(236, 210, 210);
    }
    }
    
    