* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0f9d58;
}
.LinkedIN{
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 8px;
}
.outer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
a {
  all: unset;
  text-decoration: none;
  padding: 15px 20px 0 20px;
  width: auto;
  height: 40px;
  font-size: 23px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-family: sans-serif;
  font-weight: 700;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
}

a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #3267f6;
  z-index: -1;
  transition: all 0.5s;
}

a:hover::before {
  width: 100%;
}

a:hover {
  color: #fff;
}

a:active:before {
  background: #b9b9b9;
}
.linkedin::before {
  background-color: #0077b5;
}
