.timeline_container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
}

.timeline_container::after {
  background-color: #c5c5c4;
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  width: 3px;
  height: 100%;
}

.timeline_item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
}

.timeline_item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.timeline_item_content {
  box-shadow: 0 0 10px rgba(8, 8, 8, 0.3);
  border-radius: 15px;
  background: rgba(45, 44, 46, 0.8);

  box-shadow: rgb(95, 95, 97) 0px 10px 20px -10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  position: relative;
  width: 300px;
  height: auto;
  max-width: 70%;
  text-align: right;
  margin-top: 2rem;
  transition: all 0.2s ease-in;
}

.timeline_item_content:hover {
  scale: 1.03;
  z-index: 1000;
}



.timeline_item_content::after {
  content: " ";
  background-color: rgba(45, 44, 46, 0.8);

  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

.timeline_item:nth-child(odd) .timeline_item_content {
  text-align: left;
  align-items: flex-start;
}

.timeline_item:nth-child(odd) .timeline_item_content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline_item_content .tag {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  top: 5px;
  left: 5px;
  letter-spacing: 1px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
  border-radius: 10px;
}

.timeline_item_content .date {
  color: #fff;
}

.timeline_item:nth-child(odd) .timeline_item_content .tag {
  left: auto;
  right: 5px;
}

.timeline_item_content time {
  color: #777;
  font-size: 12px;
  font-weight: bold;
}

.timeline_item_content p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 250px;
  color: yellow;
}

.timeline_item_content a {
  font-size: 14px;
  font-weight: bold;
}

.timeline_item_content a::after {
  content: " ►";
  font-size: 12px;
}

.timeline_item_content .circle {
  background-color: #fff;
  border: 3px solid #d6e177;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
  box-shadow: 0 0 50px 12px #c4e048;
}

.timeline_item:nth-child(odd) .timeline_item_content .circle {
  right: auto;
  left: -40px;
}

.link {
  margin-top: 1rem;
  text-decoration: none;
  color: rgba(25, 128, 247, 0.938);
}

.link:hover {
  color: rgb(6, 209, 245);
}

@media only screen and (max-width: 1023px) {
  .timeline_item_content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {

  .timeline_item_content,
  .timeline_item .timeline_item_content {
    padding: 15px 10px;
    text-align: center;
    align-items: center;
  }

  .timeline_item_content .tag {
    /* width: calc(100% - 10px); */
    text-align: center;
  }

  .timeline_item_content time {
    margin-top: 20px;
  }

  .timeline_item_content a {
    text-decoration: underline;
  }

  .timeline_item_content a::after {
    display: none;
  }

  /* Timeline In Small Screen */

  .timeline_item_content{
    width: 85vw;
  }
  .timeline_container::after {
    left: calc(5% - 2px);
  }

  .timeline_item {
    align-self: auto;
    width: 95vw;

  }

  .timeline_item{
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

  .timeline_item .timeline_item_content {
  text-align: left;
  align-items: flex-start;
}

.timeline_item .timeline_item_content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

  .timeline_item .timeline_item_content .tag {
  left: auto;
  right: 5px;
}

  .timeline_item .timeline_item_content .circle {
  right: auto;
  left: -40px;
}

}