.timeline_container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 0;
}

.timeline_container::after {
  background-color: #e17b77;
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}
.timeline_item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
}

.timeline_item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}
.timeline_item_content {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  position: relative;
  width: 400px;
  max-width: 70%;
  text-align: right;
}

.timeline_item_content::after {
  content: " ";
  background-color: #fff;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

.timeline_item:nth-child(odd) .timeline_item_content {
  text-align: left;
  align-items: flex-start;
}

.timeline_item:nth-child(odd) .timeline_item_content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}
.timeline_item_content .tag {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  top: 5px;
  left: 5px;
  letter-spacing: 1px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
}

.timeline_item:nth-child(odd) .timeline_item_content .tag {
  left: auto;
  right: 5px;
}

.timeline_item_content time {
  color: #777;
  font-size: 12px;
  font-weight: bold;
}

.timeline_item_content p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 250px;
  color: #000;
}

.timeline_item_content a {
  font-size: 14px;
  font-weight: bold;
}

.timeline_item_content a::after {
  content: " ►";
  font-size: 12px;
}

.timeline_item_content .circle {
  background-color: #fff;
  border: 3px solid #e17b77;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timeline_item:nth-child(odd) .timeline_item_content .circle {
  right: auto;
  left: -40px;
}
@media only screen and (max-width: 1023px) {
  .timeline_item_content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .timeline_item_content,
  .timeline_item:nth-child(odd) .timeline_item_content {
    padding: 15px 10px;
    text-align: center;
    align-items: center;
  }

  .timeline_item_content .tag {
    width: calc(100% - 10px);
    text-align: center;
  }

  .timeline_item_content time {
    margin-top: 20px;
  }

  .timeline_item_content a {
    text-decoration: underline;
  }

  .timeline_item_content a::after {
    display: none;
  }
}
