*{
    box-sizing: border-box; 
    /* If you set box-sizing: border-box; on an element, padding and border are included in the width and height: Both divs are the same size now! */
    font-family: sans-serif;
}

body{
    /* display: flex; */
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    background: black;
}

h2{
    font-size: 150px;
    color: rgb(68, 68, 68);
    letter-spacing: 5px;
    cursor: pointer;
}

h2 span{
    transition: 0.5s;
}

h2:hover span{
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 80px #fff,
                 0 0 120px #fff;
}

h2:hover span:nth-child(1){
    margin-right: 5px;
}

h2:hover span:nth-child(1)::after{
    content: "'";
}
h2:hover span:nth-child(2){
    margin-left: 40px;
}