.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-btn {
  font-size: 2.4rem;
  width: 4.5rem;
  height: 4.5rem;
  color: #fff;
  background-color: rgb(1, 167, 1);
  border-radius: 50%;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.top-btn > .icon {
  animation: gototop 1.2s linear infinite alternate-reverse;
}

@keyframes gototop {
  0% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(1rem);
  }
}
