.cursor {
    --r: 0deg;
    position: fixed;
    left: -8px;
    top: -6px;
    pointer-events: none;
    user-select: none;
    display: none;
    transform: translate(var(--x), var(--y));
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .4));
}
.cursor svg {
    display: block;
    width: 28px;
    height: 28px;
    transform: rotate(var(--r));
}
.btn {
    --background: #13c4db;
    --shadow: rgba(84, 40, 238, .16);
    --y: 0;
    display: table;
    text-align: center;
    padding: 12px 24px;
    border-radius: 4px;
    color: #fff;
    background: var(--background);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    backface-visibility: hidden;
    box-shadow: 0 4px 12px rgba(84, 40, 238, .16);
    transform: translateY(var(--y));
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.btn:hover {
    --y: -2px;
    box-shadow: 0 8px 16px rgba(84, 40, 238, .16);
}
.btn:active {
    --y: 1px;
    box-shadow: 0 4px 8px rgba(84, 40, 238, .16);
}
html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
* {
    box-sizing: inherit;
}
*:before, *:after {
    box-sizing: inherit;
}
body {
    min-height: 100vh;
    font-family: Roboto, Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f9ff;
}
