body {
	background: #e30a0a;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	color: #e91c1c;
  }
  
  .center {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 24px;
  }
  
  .btn-1 {
	width: 300px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  
  .btn-1 a {
	text-decoration: none;
	border: 2px solid #010100;
	padding: 15px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	display: inline-block;
  }
  
  span {
	position: relative;
	z-index: 3;
  }
  
  .btn-1 a::before {
	content: "";
	position: absolute;
	top: 5px;
	left: -2px;
	width: calc(100% + 6px);
	height: calc(100% - 10px);
	background-color: #ffffff;
	transition: all 0.5s ease-in-out;
	transform: scaleY(1);
  }
  
  .btn-1 a:hover::before {
	transform: scaleY(0);
  }
  
  .btn-1 a::after {
	content: "";
	position: absolute;
	left: 5px;
	top: -5px;
	width: calc(100% - 10px);
	height: calc(100% + 10px);
	background-color: #ffffff;
	transition: all 0.5s ease-in-out;
	transform: scaleX(1);
  }
  
  .btn-1 a:hover::after {
	transform: scaleX(0);
  }
  