.button-demo {
  width:95%;
  margin:10px;
  padding:2px;
  font-size:14px;
  position:relative;
  font:bold 20px/35px Lato,serif;
  border:solid 1px #333;
  border-radius:5px;
  background: #C8102E;
  text-decoration:none;
  color:#fff;
  text-shadow:1px 2px 2px #111;
  padding:10px 15px;
  box-shadow:2px 2px 0 #333,3px 3px 0 #333,4px 4px 0 #333,5px 5px 0 #333;
  transition:top 0.25s, left 0.25s, box-shadow 0.25s;
  -webkit-transition:top 0.25s, left 0.25s, box-shadow 0.25s;
  -moz-transition:top 0.25s, left 0.25s, box-shadow 0.25s;
  -o-transition:top 0.25s, left 0.25s, box-shadow 0.25s
}
.button-demo:hover {
  box-shadow:none;
  top:5px;
  left:5px;
}