@import url("https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@700&display=swap&text=Pull%Focus");
.bg-video {
  content: "";
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-video:before {
  content: "";
  width: 100%;
  padding-bottom: 56.25%;
  display: block;
  height: 0;
}
.bg-video iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000%;
  height: 135%;
  transform: translate3d(-50%, -50%, 0);
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 2em;
  font-family: "Miriam Libre", sans-serif;
  background: #02020e;
}
body .bg-video {
  content: "";
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .bg-video:before {
  content: "";
  width: 100%;
  padding-bottom: 56.25%;
  display: block;
  height: 0;
}
body .bg-video iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000%;
  height: 135%;
  transform: translate3d(-50%, -50%, 0);
}

.button {
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  min-width: 15ch;
  padding: 1em;
  background: url("http://api.thumbr.io/whitenoise-354x370.png?background=ffffff00&noise=ffffff&density=40&opacity=4"), rgba(255, 255, 255, 0.01);
  transition: 0.5s ease-in-out;
  transition-property: background, text-shadow;
  -webkit-backdrop-filter: blur(0.333em);
          backdrop-filter: blur(0.333em);
  border-radius: 1em;
  font-family: inherit;
  text-align: center;
  letter-spacing: 0.05em;
  color: white;
  text-shadow: 0 0.01em 0.2em rgba(227, 222, 255, 0.333), 0 0.01em 0.5em rgba(227, 222, 255, 0.25);
  box-shadow: inset 0 0.01em 0.4em rgba(227, 222, 255, 0.2), inset 0 0.04em 0.18em rgba(154, 146, 210, 0.3), inset 0 0.98em 1em rgba(202, 172, 255, 0.3), inset 0 -0.82em 0.68em -0.64em rgba(96, 68, 144, 0.3), inset 0 0.07em 0.11em -0.04em white, inset 0 0.39em 0.56em -0.36em rgba(255, 255, 255, 0.5);
}
.button:hover, .button:focus {
  background: rgba(39, 0, 255, 0.25);
  text-shadow: 0 0.01em 0.2em #b1a3ff, 0 0.01em 1em #b1a3ff;
}
.button:hover:before, .button:focus:before {
  transform: translate3d(100%, 0, 0) scale3d(1, 1, 1);
}