@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding:0;
  margin: 0;
  font-family: "Poppins",sans-serif;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
}

.custom-shape-divider-bottom-1681450176 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1681450176 svg {
  position: relative;
  display: block;
  width: calc(220% + 1.3px);
  height: 154px;
}

.custom-shape-divider-bottom-1681450176 .shape-fill {
  fill: #FFFFFF;
}


label {
  width: 25px; /* Updated width to 60px */
  height: 15px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
  cursor: pointer;
}


label:after {
  content: "";
  width: 9px;
  height: 9px;
  position: absolute;
  top: 4px;
  left: 4px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

input {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + label {
  background: #242424;
}

input:checked + label:after {
  left: 21.5px; /* Updated left position to 38px */
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

label, label:after {
  transition: 0.3s;
}

label:active:after { 
  width: 26px;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
  transition: all 500ms;
  

}

.dark-mode {
  background-color: #1f1f1f;
  color: #ffffff;
  transition: all 500ms;
  transition-delay: 50ms;
  
  
}


