body{
    background-color: #ffff;
}
button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:5rem;
    width:15rem;
    border:none;
    border-radius: 10px;
    background-image: radial-gradient(circle, #ff9f00, #ff2e63);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
    font-family: cursive;
    font-size:larger;
    transition: transform 0.3s;
    
}
button:hover{
    border: 1px solid #f00;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    animation: pulse 0.5s infinite;
    z-index: 1;
}
@keyframes pulse {
    0% {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);

    }
    50% {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    }
    100% {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      
    }
  }
