* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #e8e8e8;
}

.neon-btn {
  padding: 10px 20px;
  background-color: #0f0;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.neon-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0f0;
  opacity: 0.5;
  transform: translateX(-100%);
  transition: transform 0.5s;
  pointer-events: none;
}

.neon-btn:hover::before {
  transform: translateX(100%);
}
