* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    font-family: monospace, sans-serif;
    font-size: 25px;
    color: white;
    height: 50px;
    width: 130px;
    background: none;
    border: none;
    background-color: rgb(111, 0, 255);
    box-shadow: 5px 5px 1px rgb(49, 49, 49);
    overflow: hidden;
    z-index: 2;
}

.btn:hover {
    transform: translate(-4px, -4px);
    box-shadow: 9px 9px 3px rgb(49, 49, 49);
    z-index: 2;
}

.btn:active {
    transform: translate(-1px, -1px);
    box-shadow: 6px 6px 2px rgb(49, 49, 49);
    z-index: 2;
}

.inside {
    transition: all 0.2s ease-in-out;
    position: absolute;
    height: 0px;
    width: 0px;
    border-radius: 100px;
    background-color: rgb(150, 74, 255);
    z-index: -1;
}

.btn:hover .inside {
    height: 150px;
    width: 150px;
}

.btn:active .inside {
    height: 150px;
    width: 150px;
    background-color: rgb(111, 0, 255);
}