@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2e3840;
}
.btn{
    
    background:transparent;
    padding: 10px 40px;
    color: #373737;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    z-index: 100;
    border: none;
    outline: none;
}
.btn p{
    margin-right:40px ;transform: skewX(-20deg);transition: all 0.4s;

}

.btn::before,
.btn::after{
    content: "";position: absolute;top: 0;
    border-radius: 10px;background: #ecf2ff;
    height: 100%;
    transform: skewX(-20deg);
    transition: transform 0.4s,opacity 0.4s;
}

.btn::before{
    left:0;
    width: 79%;
    z-index: -1;
}
.btn::after{
    right: 0;
    width: 19%;
    z-index: -2;

}
.btn:hover::after{
    transform: translateY(-10px) skewX(-10deg);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.384);
    
}
.btn:hover p{
    transform: translateY(-10px) skew(0deg);
}
.btn:hover::after{
    transform: translateY(10px) translateX(-30px) skewX(-10deg);
    opacity: 0.2;
}