@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

@font-face {
  font-family: SansationBold;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local("Sansation_Bold"),
    url("./fonts/Sansation-Bold.ttf") format("truetype");
}
@font-face {
  font-family: SansationLight;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: local("Sansation_Light"),
    url("./fonts/Sansation-Regular.ttf") format("truetype");
}

:root {
  /* light theme */
  --light-bg-color: #72ebeb;
  --light-text-color: #1a1a1a;

  /* dark theme */
  --dark-bg-color: #151515;
  --dark-text-color: #fff;
}
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "SansationBold", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "SansationBold", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-family: "Montserrat", sans-serif;
  font-family: "SansationBold", sans-serif;
}

.app {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
}

.light {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
  transition: all 0.4s ease;
}

.dark {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
  transition: all 0.4s ease;
}
