:root {
  /* light theme */
  --light-bg-color: #fff;
  --light-text-color: #1a1a1a;

  /* dark theme */
  --dark-bg-color: #2e2e2e;
  --dark-text-color: #fff;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-family: "Montserrat", sans-serif;
}

.app {
  position: relative;
  display: grid;
  gap: 20px;
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
  padding: 20px;
}

.light {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
  transition: all 0.4s ease;
}

.dark {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
  transition: all 0.4s ease;
}
