:root {
  /* light theme */
  --light-bg-color: #fff;
  --light-text-color: #1a1a1a;

  /* dark theme */
  --dark-bg-color: #2e2e2e;
  --dark-text-color: #fff;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-family: "Montserrat", sans-serif;
}

.app {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
}

.light {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
  transition: all 0.4s ease;
}

.dark {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
  transition: all 0.4s ease;
}
/* styles.css */

/* Define styles for a class */
.save-btn {
  font-size: 22px;
  color: aquamarine;
  background: #29ca8e;
  width: 250px;
  height: 60px;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 8px 5px -5px rgba(0, 0, 0, 0.2);
  display: grid;
  place-content: center;
  transition: 0.2s;
}

.loader {
  pointer-events: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

