:root {
  /* light theme */
  --light-bg-color: #fff;
  --light-text-color: #1a1a1a;

  /* dark theme */
  --dark-bg-color: #2e2e2e;
  --dark-text-color: #fff;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-family: "Montserrat", sans-serif;
}

.light {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
  transition: all 0.4s ease;
}

.dark {
  background-color: var(--dark-bg-color);
  color: var(--dark-text-color);
  transition: all 0.4s ease;
}
