.main_div{
  min-height: 100vh;
}



.user_info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 40px;
  margin: 20px 100px;
  width: calc(100% - 200px);
  height: auto;
  /* min-height: 50vh; */
  background-color: #000;
  border-radius: 12px;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
    0 30px 60px -30px rgba(0, 0, 0, 0.3),
    inset 0 -2px 6px 0 rgba(255, 255, 255, 0.35);
  box-sizing: border-box;
  animation: opacity 0.5s ease-in-out;
}

.user_info h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  margin: 0;
  padding: 0;
}

.edit_button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}

.edit_button button {
  background-color: #00d1ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  transition: backgroundcolor 0.3s ease-in-out;
}

.edit_button button:hover {
  background-color: #00b8e6;
}
.edit_button button:focus {
  outline: none;
}
.edit_button button:active {
  background-color: #00a3cc;
}
.edit_button button:disabled {
  background-color: #00d1ff;
  cursor: not-allowed;
}

.user_row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.image_container {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #00d1ff;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.user_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.username {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  margin: 0;
  padding: 0;
}

.user_name {
  font-size: 1rem;
  font-weight: 400;
  color: #999999;
  margin: 0;
  margin-left: 1.5rem;
  padding: 0;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.bio_textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #999999;
  background-color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #000;
  box-shadow: 0 0 0 1px #999999;
  transition: box-shadow 0.3s ease-in-out;
  margin: 10px 0;
}
.bio_textarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px #00d1ff;
}
.bio_textarea::-webkit-scrollbar {
  width: 5px;
}
.bio_textarea::-webkit-scrollbar-track {
  background-color: #fff;
}
.bio_textarea::-webkit-scrollbar-thumb:active {
  background-color: #00d1ff;
}
.bio_textarea::-webkit-scrollbar-thumb:window-inactive {
  background-color: #00d1ff;
}

.btns_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 80px 120px;
}

.bio {
  color: #fff;
}

.no_btn{
  font-size: 2rem;
  margin: 5rem;
  
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes backgroundcolor {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #f2f2f2;
  }
}

@media screen and (max-width: 1024px) {
  .user_info {
    padding: 20px 20px;
    margin: 10px;
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .user_info {
    padding: 20px 20px;
    margin: 10px;
    width: calc(100% - 20px);
  }
}
