.user_info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  /* gap: 10px; */
  padding: 20px 40px;
  margin: 20px 100px;
  width: calc(100% - 200px);
  height: auto;
  min-height: 50vh;
  background-color: #000;
  border-radius: 12px;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
    0 30px 60px -30px rgba(0, 0, 0, 0.3),
    inset 0 -2px 6px 0 rgba(255, 255, 255, 0.35);
    box-sizing: border-box;
}

.user_row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.image_container {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #00d1ff;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.user_data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.username {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  margin: 0;
  padding: 0;
}

.name{
  font-size: 1rem;
  font-weight: 400;
  color: #999999;
  margin: 0;
  margin-left: 1.5rem;
  padding: 0;
  /* opacity: 0.5; */
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btns_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 80px 160px;
}



@media screen and (max-width: 768px) {
  .user_info {
    padding: 20px 20px;
    margin: 10px;
    width: calc(100% - 20px);
    /* justify-content: center; */
  }
}