.Header {
  margin-top: 4rem;
  display: flex;
  gap: 10rem;
  justify-content: center;
  align-items: center;
}
.Para {
  margin-top: -6rem;
  max-width: 48rem;
}

/* -------------------------------------------- */
.Contributor_section {
  margin-top: 6rem;
}
.Avtar {
  padding: 2px;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  justify-content: center;
  align-items: center;
}
.Avtar:hover {
  scale: 1.2;
}
.About_h1 {
  font-size: 40px;
  text-align: center;
}
.About_p {
  font-size: 20px;

  color: darkgrey;
}
.About_h1_c {
  font-size: 25px;
  text-align: center;
  color: yellow;
}
.About_p_c {
  font-size: 20px;
  text-align: center;
  color: darkgrey;
}
.Project_Admin {
  margin-top: -1rem;
  text-align: center;
  color: yellow;
}
.About_p_o {
  font-size: 20px;
  text-align: center;
  color: yellow;
}
.About_p_t {
  text-align: center;
  font-size: 20px;

  color: darkgrey;
}
.TimeLine_Css {
  margin-top: 8rem;
  text-align: center;
}
.Admin_name {
  margin-top: -2rem;
  font-size: 35px;
  text-align: center;
}
.social_profilee {
  justify-content: center;
  display: flex;
  gap: 1rem;
}

.link1:hover {
  scale: 1.1;
  transform: rotate(30deg) scale(1.2);
}
.link2:hover {
  scale: 1.1;
  transform: rotate(30deg) scale(1.2);
}

.Contributors {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
  justify-content: center;
  align-items: center;
  margin-left: 12rem;
  margin-right: 12rem;
  margin-top: 8rem;
}

@media (max-width: 1089px) {
  .Header {
    display: flex;
    flex-direction: column-reverse;
  }
  .About_h1 {
    font-size: 35px;
    text-align: center;
  }
  .Para {
    margin-top: 0.5rem;
    max-width: 30rem;
  }
  .About_p {
    font-size: 18px;

    color: darkgrey;
  }
  .About_h1_c {
    font-size: 25px;
    text-align: center;
    color: yellow;
  }
  .About_p_c {
    font-size: 18px;
    text-align: center;
    color: darkgrey;
  }
  .admin_img {
    margin-top: -6rem;
    height: 14rem;
  }
  .Admin_name {
    margin-top: -1rem;
    font-size: 28px;
  }

  .About_p_t {
    text-align: center;
    font-size: 16px;
  }
  .Contributors {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    justify-content: center;
    align-items: center;
    margin: 6rem;
  }
}
