.Header {
  margin-top: 8rem;
  display: flex;
  gap: 10rem;
  justify-content: center;
  align-items: center;
}
.Para {
  margin-top: -6rem;
  max-width: 48rem;
}

/* -------------------------------------------- */
.About-Contributor {
  text-align: center;
  margin-top: 6rem;
}

.About-Pagination {
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}
.About-Data {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 2rem;
  text-align: center;
}
.Avtar {
  padding: 2px;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

.Counter1 {
  gap: 2rem;

  margin-top: 0.5rem /* 8px */;
  margin-bottom: 0.5rem /* 8px */;
}
.Counter2 {
  font-size: 22px;
  font-weight: 500;
  color: yellow;
  text-align: center;
}
.Counter3 {
  font-size: 16px;
  text-align: center;
  color: darkgray;
}
.Contributors-abt {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  padding: 1.5rem;
  align-items: center;
  gap: 6rem;
  margin-left: 10rem;
  margin-top: 6rem;
}
.About-h1 {
  font-size: 40px;
  text-align: center;
}
.About-p {
  font-size: 20px;

  color: darkgrey;
}
.Project-Admin {
  margin-top: -1rem;
  text-align: center;
  color: yellow;
}
.About-p-o {
  font-size: 20px;

  color: yellow;
}
.About-p-t {
  text-align: center;
  font-size: 20px;

  color: darkgrey;
}
.TimeLine-Css {
  margin-top: 8rem;
  text-align: center;
}
.Admin-name {
  margin-top: -2rem;
  font-size: 35px;
  text-align: center;
}
@media (max-width: 768px) {
  .Header {
    display: flex;
    flex-direction: column-reverse;
  }
  .About-h1 {
    font-size: 35px;
    text-align: center;
  }
  .About-p {
    font-size: 16px;

    color: darkgrey;
  }
  .admin-img {
    margin-top: -6rem;
    height: 14rem;
  }
  .Para {
    max-width: 28rem;
  }
  .About-p-t {
    text-align: center;
    font-size: 16px;
  }
}
