
body{
    
    align-self: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: darkviolet;

}

.mybutton{
    display: block;
    margin: auto;
    margin-top: 50%;
    margin-bottom: 50%;
    width: 50vh;
    height: 20vh;
    align-self: center;
    background-color:maroon;
    color:cyan;
    font-size:270%;
    font-family:monospace;
    letter-spacing: 0.7vh;
    transition-duration: 0.5s;
    border:none;
    box-shadow: 0 5px 15px maroon;
    border-radius: 10px;
   
}
.mybutton:hover
{
    background-color:rgb(17, 180, 180);
    color: black;
    transition-duration: 0.5s;
    box-shadow: 0 5px 15px darkcyan;
    
}