*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
:root {
  --font-style: "Nunito Sans", sans-serif;
}

body {
  font-family: var(--font-style);
  width: 100%;
  background: #053a3d;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 30px;
  background: #1a2929;
}

span {
  display: block;
  padding: 25px 80px;
}

button::before,
button::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #54e6e7;
}

span::before,
span::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: #54e6e7;
}

button:hover::before,
button:hover::after {
  width: 100%;
}

button:hover span::before,
button:hover span::after {
  height: 100%;
}

button::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}

button span::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}

button::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}

button span::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
