* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    display: grid;
    width: 200px;
    height: 200px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    z-index: 0;
}
button {
    transition: all 1s ease-in-out;
    font-size: 3rem;
    border: 0;
}

button:hover {
    z-index: 1;
    transform: scale(1.8);
    color: white;
    animation: rotate 0.3s infinite alternate;
}
button:nth-child(1):hover {
    background-color: #171515;
}
button:nth-child(2):hover {
    background-color: rgb(10, 102, 194);
}
button:nth-child(3):hover {
    background-color: #00acee ;
}
button:nth-child(4):hover {
    background-color: #5865F2;
}

@keyframes rotate {
    from {
        border-radius: 25%;
    }
    to {
        border-radius: 50%;
    }
}