body {
min-height: 100vh;
display: grid;
place-items: center;
background: #222;
}
.checkbox-wrapper:hover .check {
stroke-dashoffset: 0;
}

.checkbox-wrapper {
transform: scale(2);
position: relative;
display: inline-block;
width: 40px;
height: 40px;
}
.checkbox-wrapper .background {
fill: #ccc;
transition: ease all 0.6s;
-webkit-transition: ease all 0.6s;
}
.checkbox-wrapper .stroke {
fill: none;
stroke: #fff;
stroke-miterlimit: 10;
stroke-width: 2px;
stroke-dashoffset: 100;
stroke-dasharray: 100;
transition: ease all 0.6s;
-webkit-transition: ease all 0.6s;
}
.checkbox-wrapper .check {
fill: none;
stroke: #fff;
stroke-linecap: round;
stroke-linejoin: round;
stroke-width: 2px;
stroke-dashoffset: 22;
stroke-dasharray: 22;
transition: ease all 0.6s;
-webkit-transition: ease all 0.6s;
}
.checkbox-wrapper input[type=checkbox] {
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
margin: 0;
opacity: 0;
-appearance: none;
-webkit-appearance: none;
}
.checkbox-wrapper input[type=checkbox]:hover {
cursor: pointer;
}
.checkbox-wrapper input[type=checkbox]:checked + svg .background {
fill: #6cbe45;
}
.checkbox-wrapper input[type=checkbox]:checked + svg .stroke {
stroke-dashoffset: 0;
}
.checkbox-wrapper input[type=checkbox]:checked + svg .check {
stroke-dashoffset: 0;
}
