*{
    padding: 0;
    margin: 0;
}

body{
    background-color: cornsilk;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 45px;
}

.btn{
    margin-top: 34px;
    padding: 25px;
    width: 260px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 13px;
    border: none;
    color: white;
    cursor: pointer;
    box-shadow: 1px 7px 1px rgb(230, 61, 89);
    background-color: rgb(241, 104, 127);
}

.btn:hover{
    transform: translateY(2px);
    box-shadow: 1px 4px 1px rgb(230, 61, 89);
}

.btn:active{
    transform: translateY(6px);
    box-shadow: none;
}
