body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: white;
  margin: 0;
}

a {
  position: relative;
  padding: 20px 40px;
  border-radius: 25px;
  background: rgb(231, 169, 13);
  color: black;
  text-decoration: none;
  transform-style: preserve-3d;
  transition: ease-in-out 4s;
}

a:hover {
  transform: rotateX(360deg);
}

a span {
  display: block;
  font-weight: bold;
  transform-style: preserve-3d;
}
