.editor_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: slateblue;
}

.iframe_container {
  width: 100%;
}

.container {
  all: unset;
  width: 100%;
  height: 400px;
  border: 1px solid #8b8b8b;
  border-radius: 12px;
}

.components_container {
  display: flex;
  width: 100%;
}
